.about-header{
    position: relative;
    width: 100%;
    height: 150px;
    padding-left: 1rem;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-header h1{
    font-family: Train One ;
    position: relative;
    font-size: 350%;
    z-index: 2;
    color: var(--first-color);
}
#abt-h1{
    position: absolute;
    font-size: 450%;
    color: var(--high-light-color);
    z-index: 1;
    opacity: 0.3
}

.ab-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ab-con-left{
    width: 40%;

}
.ab-model{
    padding: 7px;
    object-fit:contain;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    border: 7px transparent var(--first-color);
    /* outline: 10px double var(--high-light-color); */
    outline-offset: 0.5rem;
    animation: borderAnimation 4s linear infinite;
}
.contact-btn{
    width: 20%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--high-light-color);
    font-family: "Rubik Mono One", monospace;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items:center;
    justify-content: center;
}
.contact-btn:hover{
    background: linear-gradient(to right, var(--high-light-color), var(--shadow-color));
    border: 2px solid var(--first-color);
}


@keyframes borderAnimation {
    0% {
        /* border-color:var(--high-light-color) transparent transparent var(--first-color);
        border-style:inset; */
        /* outline: 10px dashed var(--shadow-color); */
        box-shadow: 0 0 0 var(--high-light-color);
    }
    25% {
        /* border-color: var(--first-color) var(--high-light-color) transparent transparent;
        border-style: inset; */
        box-shadow:   0 0 10px 5px var(--high-light-color);
        border-color: transparent
    }
   /* 50% {
      border-color:  transparent transparent var(--high-light-color) transparent;
      border-style: groove;
    }
     75%{
        border-color: transparent transparent transparent var(--high-light-color);
        border-style: groove;
    } */
    /* 100%{
        border-color:  transparent transparent transparent var(--high-light-color);
        border-style: groove;
        outline: 10px dotted var(--high-light-color); 
     */
}


.ab-con-right{
    width: 50%;
}
.about-header span{
    color: var(--high-light-color);
}
.ab-con-right strong{
    color: var(--high-light-color);
}
#more{
    display: none;
}
#readMoreBtn{
    border: none;
    background: none;
    white-space: nowrap;
    color: var(--high-light-color);
    font-family: "Rubik Mono One", monospace;
    font-size: large;
    font-weight: bold;
}
#readMoreBtn:hover{
   font-size: 26px;
}


.contact-container{
    margin-top: 2rem;
}
.contact-details{
    margin-top: 1rem;
}



@media  screen and (max-width: 750px) {
    .about-header h1{
        font-size: 300%;
    }
    #abt-h1{
        font-size: 400%;
    }
    .ab-container{
        flex-direction: column;
    }
    .ab-con-left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ab-model{
        padding: 5px;
        width:50%;
        height: 50%;
        border-radius: 50%;
        outline: 5px solid var(--shadow-color);
    }

    .ab-con-right{
        padding: 4rem 4rem 0 4rem;
        width: 100%;
    }
    
}