.content {
    position: relative; /* Ensure content is positioned correctly */
    z-index: 1; /* Higher than background to be visible */
    padding: 20px; /* Adjust padding as needed */
    color: #fff; /* Text color for visibility */
  }

.banner{
    display: flex;
    flex-direction: row;
    margin-top: 3.5rem;
    height: 500px;
}
.ban-left{
    padding-left: 4rem;
    padding-right: 3rem;
    width: 50%;
    height: 100%;
    display:flex;
    justify-content:end;
    align-items:end;
}
.ban-left-content{
    margin-bottom: 10%;
}
.social-media{
    margin-top: 1.5rem;
    display:flex;
    flex-direction: row;
    gap:1.5rem
}
.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 3px solid var(--high-light-color);
    border-radius: 50%;
}
.s-icon{
    color: var(--high-light-color);
    border-radius: 50%;
}
.ban-right{
    height: 50%;
    width: 50%;
}
.ban-right-content{
    margin-top: 1rem;
    position: relative;
    padding: 0.5rem;
    width: 70%;
    
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.ban-right-content::after, .ban-right-content::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    top: 50%;
    left:50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--angle), transparent 5%,red 15%, transparent 35%, transparent 50%, blue 80%,transparent 82%, transparent );
    z-index: -1;
    animation: modelborder 3s linear infinite;
}
.ban-right-content::before{
    filter:blur(1.5rem);
    opacity: 0.5;
}

.ban-right-model{
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    /* box-shadow: 0 4px 8px var(--shadow-color); */
    border-radius: 50%;
    filter: grayscale(70%);
    
}

@keyframes modelborder{
    from{
        --angle : 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.ban-left p{
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
    font-display:inherit;
}
.full-stack{
    color: var(--high-light-color);
    overflow: hidden;
    white-space: nowrap;
    font-family: "Train One", system-ui;
    border-right: 0.15em solid var(--high-light-color);
    animation: typing 5s steps(12, end) infinite alternate, blink-caret 1s step-end infinite;
    animation-timing-function: linear;
}
.discription{
    margin-top: 1.5rem;
}

@keyframes typing{
    0%{
        width: 0;
    }
    100%{
        width: var(--typing-width);
    }
}
@keyframes blink-caret {
    from {
        border-color: transparent;
    }
    100%{
        border-color: var(--high-light-color);

    }
}
.ban-left span{
    color: var(--hover-color);
    font-family:Arial, Helvetica, sans-serif;

}
@media screen and (max-width: 1150px) {
    .ban-left{
        width: 100%;
        padding-left: 4rem;
    }
    .ban-right{
        display: none;
    }
    
}
@media screen and (min-width: 1150px) {
    .full-stack{
        /* max-width: 40%; */
        background-color: black;
    }
    
}